# Análise de Dados com Python

Você trabalha em uma empresa de telecom e tem clientes de vários serviçços diferentes, 
entre os principais : internet e telefone

O problema é que, analisando o histórico dos clientes dos últimos anos, você percebeu que a empresa está com Chum de mais de 26% do clientes (chum = quantidade de clientes cancelando contrato de serviço depois de um tempo).

Isso representa uma perda de milhões para empresa.

O que a empresa precisa fazr para resolver isso?

Base de Dados: https://drive.google.com/drive/folders/1w3TmCcQPoc7ew1CXmwwEUpWeHJzJQqGZ?usp=sharing <br>
Link Original do Kaggle: https://www.kaggle.com/radmirzosimov/telecom-users-dataset

### Passo 1: Importar a base de dados

In [1]:
import pandas as pd

##tabela_clientes = pd.read_csv(r"C:\Users\lindb\Python-Estudos\Arquivos\Analise_Dados_Python\telecom_users.csv")

tabela_clientes = pd.read_csv(r"Arquivos\telecom_users.csv")

### Passo 2: Visualizar a base de dados para entender o que temos disponível

In [2]:
display(tabela_clientes)

,Unnamed: 0,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,1869,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,4528,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,6344,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6739,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,432,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Masculino,0,Sim,Nao,1,Sim,Nao,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,95.00,95,Sim,NaN
5982,5191,5982-PSMKW,Feminino,0,Sim,Sim,23,Sim,Sim,DSL,...,Sim,Sim,Sim,2 anos,Sim,CartaoCredito,91.10,2198.3,Nao,NaN
5983,5226,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN
5984,5390,7450-NWRTR,Masculino,1,Nao,Nao,12,Sim,Sim,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,99.45,1200.15,Sim,NaN
5985,860,4795-UXVCJ,Masculino,0,Nao,Nao,26,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Anual,Nao,CartaoCredito,19.80,457.3,Nao,NaN

In [3]:
display(tabela_clientes.columns)

Index(['Unnamed: 0', 'IDCliente', 'Genero', 'Aposentado', 'Casado',
       'Dependentes', 'MesesComoCliente', 'ServicoTelefone', 'MultiplasLinhas',
       'ServicoInternet', 'ServicoSegurancaOnline', 'ServicoBackupOnline',
       'ProtecaoEquipamento', 'ServicoSuporteTecnico', 'ServicoStreamingTV',
       'ServicoFilmes', 'TipoContrato', 'FaturaDigital', 'FormaPagamento',
       'ValorMensal', 'TotalGasto', 'Churn', 'Codigo'],
      dtype='object')

### Passo 3: Tratamento de Dados

In [4]:
print(tabela_clientes.info()) #vamos analisar os dados, ver vazios, se o tipo do dado esta correto com o Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5986 non-null   int64
 1   IDCliente               5986 non-null   object
 2   Genero                  5986 non-null   object
 3   Aposentado              5986 non-null   int64
 4   Casado                  5986 non-null   object
 5   Dependentes             5985 non-null   object
 6   MesesComoCliente        5986 non-null   int64
 7   ServicoTelefone         5986 non-null   object
 8   MultiplasLinhas         5986 non-null   object
 9   ServicoInternet         5986 non-null   object
 10  ServicoSegurancaOnline  5986 non-null   object
 11  ServicoBackupOnline     5986 non-null   object
 12  ProtecaoEquipamento     5986 non-null   object
 13  ServicoSuporteTecnico   5986 non-null   object
 14  ServicoStreamingTV      5986 non-null   object
 15  ServicoFilmes           5986 non-null   object
 16  TipoContrato            5986 non-null   object
 17  FaturaDigital           5986 non-null   object
 18  FormaPagamento          5986 non-null   object
 19  ValorMensal             5986 non-null   float64
 20  TotalGasto              5986 non-null   object
 21  Churn                   5985 non-null   object
 22  Codigo                  0 non-null      float64
dtypes: float64(2), int64(3), object(18)
memory usage: 1.1+ MB
None

In [5]:
#problema de tipos de informacao #passar o valor atual para numeric, o coerce para caso erro continuar o codigo (cuidado com a quantidade de perda de informação ao rodar)

In [6]:
tabela_clientes["TotalGasto"] = pd.to_numeric(tabela_clientes["TotalGasto"], errors="coerce") 

print(tabela_clientes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5986 non-null   int64
 1   IDCliente               5986 non-null   object
 2   Genero                  5986 non-null   object
 3   Aposentado              5986 non-null   int64
 4   Casado                  5986 non-null   object
 5   Dependentes             5985 non-null   object
 6   MesesComoCliente        5986 non-null   int64
 7   ServicoTelefone         5986 non-null   object
 8   MultiplasLinhas         5986 non-null   object
 9   ServicoInternet         5986 non-null   object
 10  ServicoSegurancaOnline  5986 non-null   object
 11  ServicoBackupOnline     5986 non-null   object
 12  ProtecaoEquipamento     5986 non-null   object
 13  ServicoSuporteTecnico   5986 non-null   object
 14  ServicoStreamingTV      5986 non-null   object
 15  ServicoFilmes           5986 non-null   object
 16  TipoContrato            5986 non-null   object
 17  FaturaDigital           5986 non-null   object
 18  FormaPagamento          5986 non-null   object
 19  ValorMensal             5986 non-null   float64
 20  TotalGasto              5976 non-null   float64
 21  Churn                   5985 non-null   object
 22  Codigo                  0 non-null      float64
dtypes: float64(3), int64(3), object(17)
memory usage: 1.1+ MB
None

In [7]:
#exlcuir coluna

In [8]:
tabela_clientes = tabela_clientes.drop("Unnamed: 0", axis=1)

In [9]:
#excluir colunas vazias (temos que tratar os vazios, ou subisttituir por algo, ou excluir)

In [10]:
tabela_clientes = tabela_clientes.dropna(how="all", axis=1) # excluir todas colunas (axis=1) com valor vazio passamos all.

In [11]:
tabela_clientes = tabela_clientes.dropna() # excluir linhas com algum valor vazio, este é o padrão

In [12]:
print(tabela_clientes.info()) #agora todos estão com No-Null Cont com mesmo valor.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 5985
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5974 non-null   object
 1   Genero                  5974 non-null   object
 2   Aposentado              5974 non-null   int64
 3   Casado                  5974 non-null   object
 4   Dependentes             5974 non-null   object
 5   MesesComoCliente        5974 non-null   int64
 6   ServicoTelefone         5974 non-null   object
 7   MultiplasLinhas         5974 non-null   object
 8   ServicoInternet         5974 non-null   object
 9   ServicoSegurancaOnline  5974 non-null   object
 10  ServicoBackupOnline     5974 non-null   object
 11  ProtecaoEquipamento     5974 non-null   object
 12  ServicoSuporteTecnico   5974 non-null   object
 13  ServicoStreamingTV      5974 non-null   object
 14  ServicoFilmes           5974 non-null   object
 15  TipoContrato            5974 non-null   object
 16  FaturaDigital           5974 non-null   object
 17  FormaPagamento          5974 non-null   object
 18  ValorMensal             5974 non-null   float64
 19  TotalGasto              5974 non-null   float64
 20  Churn                   5974 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.0+ MB
None

### Passo 4: Olhar como que estão distribuídos os Churns/Cancelamentos

In [13]:
display(tabela_clientes["Churn"].value_counts()) #ver uma coluna quantidade que foram cancelados

Nao    4387
Sim    1587
Name: Churn, dtype: int64

In [14]:
display(tabela_clientes["Churn"].value_counts(normalize=True)) #ver uma coluna quantidade que foram cancelados, em percentual

Nao    0.734349
Sim    0.265651
Name: Churn, dtype: float64

In [15]:
display(tabela_clientes["Churn"].value_counts(normalize=True).map("{:.1%}".format)) #ver uma coluna quantidade que foram cancelados, em percentual formatado

Nao    73.4%
Sim    26.6%
Name: Churn, dtype: object

### Passo 5: Fazer uma análise das causas dos cancelamentos

In [16]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [ ]:
#grafico histograma
grafico = px.histogram(tabela_clientes, x="Churn")
grafico.show() #mostrar o grafico

In [ ]:
#grafico histograma com Cor
grafico = px.histogram(tabela_clientes, x="Churn", color="Churn")
grafico.show() #mostrar o grafico

In [ ]:
#grafico histograma com Cor, ServicoInternet X Churn
grafico = px.histogram(tabela_clientes, x="ServicoInternet", color="Churn")
grafico.show() #mostrar o grafico

In [ ]:
#grafico histograma com Cor, Churn X todas colunas

for coluna in tabela_clientes: # padrão é percorrer colunas, caso precise linhas colocar .index
    grafico = px.histogram(tabela_clientes, x=coluna, color="Churn")
    grafico.show() #mostrar o grafico

## Passo 6: Conclusão

In [ ]:
# tentar encontrar os 80-20: as poucos coisas (20%) que represente, fazem ocorrer a maioria (80%)

In [ ]:
# 1- Não casados, e sem dependentes cancelam mais: me parece que pessoas que tem mais pessoas nas familia cancelam menos.
# 2- Novos clientes cancelam mais: Problema de retenção de cliente no inicio, nos primeiros meses. 
    #-- talvez trazendo muitos clientes desqualificados (ja entram querendo sair)
    #-- talvez o serviço no inicio não seja bom
# 3- Temso problema no serviço de Fibra: Clientes de fibra cancelam mais.
# 4- Clientes que têm vários serviços Cancelam muito menos.
   #-- talvez planos/promoçoes para incentivar contratar serviços adicionais
# 5- Quem tem contrato mensal cancela muito mais
   #-- Plano/promoçoes para incentivar contrato anual
# 6- Quem tem pagamento boleto cancela muito mais
   #-- Plano/promoçoes para incentivar pagamentos automaticos, evitar boleto.