# 1.0 - Importação das Bibliotecas

In [1]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.0-py3-none-win_amd64.whl (126.1 MB)
Requirement already satisfied: numpy in c:\users\lindb\anaconda3\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in c:\users\lindb\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.0

In [12]:
import pandas as pd

from xgboost import XGBRegressor

# importar lib para treino 
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MinMaxScaler

#erro absoluto, quanto menor melhor
from sklearn.metrics import mean_absolute_error

from sklearn.linear_model import LinearRegression

In [14]:
df = pd.read_csv('concrete_dataset.csv', sep=';')

In [15]:
df

,no,cement,slag,fly_ash,water,sp,coarse_aggr,fine_arrg,slump,flow,compressive_strength
0,1,273.0,82.0,105.0,210.0,9.0,904.0,680.0,23.0,62.0,34.99
1,2,163.0,149.0,191.0,180.0,12.0,843.0,746.0,0.0,20.0,41.14
2,3,162.0,148.0,191.0,179.0,16.0,840.0,743.0,1.0,20.0,41.81
3,4,162.0,148.0,190.0,179.0,19.0,838.0,741.0,3.0,21.5,42.08
4,5,154.0,112.0,144.0,220.0,10.0,923.0,658.0,20.0,64.0,26.82
...,...,...,...,...,...,...,...,...,...,...,...
98,99,248.3,101.0,239.1,168.9,7.7,954.2,640.6,0.0,20.0,49.97
99,100,248.0,101.0,239.9,169.1,7.7,949.9,644.1,2.0,20.0,50.23
100,101,258.8,88.0,239.6,175.3,7.6,938.9,646.0,0.0,20.0,50.50
101,102,297.1,40.9,239.9,194.0,7.5,908.9,651.8,27.5,67.0,49.17
102,103,348.7,0.1,223.1,208.5,9.6,786.2,758.1,29.0,78.0,48.77

In [16]:
df.drop('no', axis=1, inplace=True)

In [19]:
X = df.drop('compressive_strength', axis=1)
y = df[['compressive_strength']]

In [20]:
minmax_scaler = MinMaxScaler(feature_range=(0,1))
minmax_scaler.fit(X)
data_standardized = minmax_scaler.transform(X)

standard_X = pd.DataFrame(data_standardized, columns = list(X.columns))

In [21]:
standard_X

,cement,slag,fly_ash,water,sp,coarse_aggr,fine_arrg,slump,flow
0,0.573840,0.424870,0.403846,0.62500,0.315068,0.573267,0.150727,0.793103,0.724138
1,0.109705,0.772021,0.734615,0.25000,0.520548,0.394852,0.403213,0.000000,0.000000
2,0.105485,0.766839,0.734615,0.23750,0.794521,0.386078,0.391737,0.034483,0.000000
3,0.105485,0.766839,0.730769,0.23750,1.000000,0.380228,0.384086,0.103448,0.025862
4,0.071730,0.580311,0.553846,0.75000,0.383562,0.628839,0.066565,0.689655,0.758621
...,...,...,...,...,...,...,...,...,...
98,0.469620,0.523316,0.919615,0.11125,0.226027,0.720094,0.000000,0.000000,0.000000
99,0.468354,0.523316,0.922692,0.11375,0.226027,0.707517,0.013389,0.068966,0.000000
100,0.513924,0.455959,0.921538,0.19125,0.219178,0.675344,0.020658,0.000000,0.000000
101,0.675527,0.211917,0.922692,0.42500,0.212329,0.587599,0.042846,0.948276,0.810345
102,0.893249,0.000518,0.858077,0.60625,0.356164,0.228722,0.449503,1.000000,1.000000

In [22]:
# separndo o dataset para treino e teste, sendo 30% sera teste. 
# O random state é para garantir que sempre que rodar mesma amostra.
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25) #, random_state=42)

In [ ]:
model = XGBRegressor()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test,y_pred)
print('Erro medio absoluto (XGBOOST):',mae)

In [ ]:
model = LinearRegression()
model = model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test,y_pred)
print('Erro medio absoluto (Linear Regression):',mae)